<ion-header>
  <ion-toolbar>
    <ion-title>
      Curriculum vitae
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Roberto Li Fong Shiao Morales</ion-card-title>
      <ion-card-subtitle>DESARROLLADOR JUNIOR, CURSANDO SUS ESTUDIOS EN LA ESCUELA POLITÉCNICA
        NACIONAL</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-row class="ion-justify-content-center">
        <ion-avatar >
          <img src="../../assets/shiaoProfile.png" alt="Profile Image">
        </ion-avatar>
      </ion-row>
      <ion-list lines="full">
        <ion-item>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label>Roberto.shiao@epn.edu.ec</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="call-outline" slot="start"></ion-icon>
          <ion-label>+593 0960449696</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="location-outline" slot="start"></ion-icon>
          <ion-label>Quito, Ecuador</ion-label>
        </ion-item>
        <ion-item>
          <ion-datetime display-format="DD/MM/YYYY" placeholder="Fecha de nacimiento" min="2002-05-22" max="2002-05-22">
          </ion-datetime>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card class="technology-card">
    <ion-card-content>
      <h2 class="card-title">Tecnologías</h2>
      <ion-row class="ion-align-items-center">
        <ion-col size="4" *ngFor="let technology of technologies">
          <img [src]="technology.icon" alt="{{ technology.alt }}">
          <span>{{ technology.name }}</span>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card class="technology-card">
    <ion-card-content>
      <h2 class="card-title">Herramientas</h2>
      <ion-row class="ion-align-items-center">
        <ion-col size="4" *ngFor="let desiredTechnology of desiredTechnologies">
          <img [src]="desiredTechnology.icon" alt="{{ desiredTechnology.alt }}">
          <span>{{ desiredTechnology.name }}</span>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button color="primary" (click)="presentAlert()">
      <ion-icon name="logo-github"></ion-icon>
      Proyectos
    </ion-button>
  </ion-fab>

</ion-content>